@import url("../fonts/google/css.css?family=Alegreya:400,700|Exo+2:400,700|Kalam:700&subset=cyrillic");
.font2, body {
  font-family: "Alegreya", serif; }

.font4, .header-font, h1, h2, h3, h4, h5, h6, .nav-menu-list, .more, button, .button, .developer-line, .footer-menu-list, .modal-footer {
  font-family: "Exo 2", sans-serif; }

.logofont2, .brand-logo a.brand-link {
  font-family: "Kalam", cursive; }

body {
  background-color: #f4f4f4;
  position: relative;
  overflow: auto;
  color: #3a494c; }
  body.modal-open {
    overflow: hidden; }

p, a, span {
  font-size: 1.2rem; }

p {
  line-height: 1.5; }

h1 {
  font-size: 4.8rem; }

h2 {
  font-size: 3.6rem; }

h3 {
  font-size: 3rem; }

h4 {
  font-size: 2.4rem; }

h5 {
  font-size: 1.8rem; }

h6 {
  font-size: 1.2rem; }

@media (max-width: 767.98px) {
  h1 {
    font-size: 2.4rem; }

  h2 {
    font-size: 2.16rem; }

  h3 {
    font-size: 1.92rem; }

  h4 {
    font-size: 1.68rem; }

  h5 {
    font-size: 1.44rem; }

  h6 {
    font-size: 1.2rem; } }
a.link {
  color: #3a494c;
  transition: all 195ms; }
  a.link:hover {
    color: #279f78; }

.td-none {
  text-decoration: none; }

a {
  transition: all 300ms; }

.icm, a.icon {
  text-decoration: none; }

.container {
  width: 92%; }
  @media (min-width: 576px) {
    .container {
      width: 540px; } }
  @media (min-width: 768px) {
    .container {
      width: 720px; } }
  @media (min-width: 992px) {
    .container {
      width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1140px; } }

.modal-body {
  width: 90%; }
  @media (min-width: 576px) {
    .modal-body {
      width: 500px; } }
  @media (min-width: 992px) {
    .modal-body {
      width: 800px; } }

section, footer {
  display: flex;
  justify-content: center; }

.section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #279f78;
  font-weight: bold;
  text-align: center; }

.link-more {
  display: flex;
  align-items: center;
  justify-content: flex-end; }
  .link-more a {
    display: block; }

.top-nav-menu {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  height: 50px;
  z-index: 10;
  top: 0;
  left: 0;
  transition: background-color 150ms; }
  .top-nav-menu:hover {
    background-color: rgba(244, 244, 244, 0.7); }
  .top-nav-menu.hovered {
    background-color: rgba(244, 244, 244, 0.7); }
  .top-nav-menu a {
    text-decoration: none; }
  .top-nav-menu .container {
    display: flex;
    align-items: center; }

.nav-menu {
  display: inline-flex;
  justify-content: space-between;
  flex: 1;
  font-weight: bold;
  align-items: center; }
  .nav-menu ul {
    overflow: hidden;
    transition: width 150ms; }
    .nav-menu ul a {
      color: #3a494c;
      text-transform: uppercase;
      transition: color 150ms;
      font-size: 1rem; }
      .nav-menu ul a:hover {
        color: #279f78; }
    @media (max-width: 991.98px) {
      .nav-menu ul {
        position: absolute;
        height: 100vh;
        top: 0;
        right: 0;
        width: 0;
        background-color: rgba(244, 244, 244, 0.7);
        padding: 50px 0 0;
        box-sizing: border-box; }
        .nav-menu ul li {
          margin: 0 0 20px 30px; }
        .nav-menu ul.active {
          width: 200px; } }
    @media (min-width: 992px) {
      .nav-menu ul {
        position: static;
        display: inline-flex;
        justify-content: flex-end;
        width: 0; }
        .nav-menu ul li {
          display: flex;
          white-space: nowrap; }
          .nav-menu ul li a {
            padding: 10px; }
        .nav-menu ul.active {
          width: 730px; } }

.brand-logo a.brand-link {
  font-size: 2.2rem;
  color: #279f78;
  padding-left: 10px; }

.sandwich {
  cursor: pointer;
  width: 50px;
  height: 50px;
  position: relative; }
  .sandwich .sw {
    width: 30px;
    height: 2px;
    left: 10px;
    background-color: #3a494c;
    position: absolute;
    transition: transform 150ms, top 150ms, background-color 300ms; }
  .sandwich .sw-topper {
    top: 20px; }
  .sandwich .sw-footer {
    top: 28px; }
  .sandwich:hover .sw {
    background-color: #279f78; }
  .sandwich.active .sw-topper {
    top: 24px;
    transform: rotate(320deg); }
  .sandwich.active .sw-footer {
    top: 24px;
    transform: rotate(-320deg); }

.greeting .fs-img {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  background-repeat: no-repeat; }
.greeting .cover-img {
  background-size: cover;
  background-position: center center; }
.greeting .contain-img {
  background-size: contain;
  background-position: center center;
  background-color: black; }
.greeting h1 {
  color: #279f78;
  text-shadow: 1px 0 1px #f4f4f4;
  font-weight: bold; }

.page-greeting {
  padding: 3rem 0 1rem; }

@media (max-width: 575.98px) {
  .page-content .container.services-page-container, .page-content .container.about-page-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "pc_content"; }
    .page-content .container.services-page-container .aside, .page-content .container.about-page-container .aside {
      display: none; } }
@media (max-width: 767.98px) {
  .page-content .container.testimonials-page-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "pc_content"; }
    .page-content .container.testimonials-page-container .aside {
      display: none; } }
.page-content .container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "pc_aside" "pc_content";
  margin: 1.2rem 0 0; }
  .page-content .container .content {
    grid-area: pc_content; }
    .page-content .container .content h5 {
      margin-bottom: 1rem; }
    .page-content .container .content p {
      margin-bottom: 1rem; }
  .page-content .container .aside {
    grid-area: pc_aside; }
    .page-content .container .aside.sticky {
      position: sticky;
      top: 3rem;
      height: 40vh; }
    .page-content .container .aside .aside-item {
      margin-bottom: 2rem; }
      .page-content .container .aside .aside-item h5 {
        margin-bottom: 0.5rem; }
  @media (min-width: 576px) {
    .page-content .container {
      grid-column-gap: 0.5rem;
      grid-template-columns: 4fr 1fr;
      grid-template-rows: auto;
      grid-template-areas: "pc_content pc_aside"; } }
  @media (min-width: 768px) {
    .page-content .container {
      grid-template-columns: 5fr 2fr; } }
  @media (min-width: 992px) {
    .page-content .container {
      grid-column-gap: 1rem;
      grid-template-columns: 7fr 2fr; } }
  @media (min-width: 1200px) {
    .page-content .container {
      grid-column-gap: 3rem; } }
.page-content .content-block {
  margin: 0 0 2.4rem; }
  .page-content .content-block img {
    height: auto;
    float: left;
    width: 100%; }
    @media (min-width: 576px) {
      .page-content .content-block img {
        width: 35%;
        margin-right: 1rem;
        margin-top: 0.4rem; } }
    @media (min-width: 768px) {
      .page-content .content-block img {
        width: 45%; } }
  .page-content .content-block.testimonial-block {
    border: 1px dashed rgba(58, 73, 76, 0.51);
    border-radius: 1.2rem;
    padding: 1.2rem; }

.watcher.watching {
  color: #279f78; }

.portfolio-preview .container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 300px 300px 300px 300px 300px 100px;
  grid-template-areas: "pp_tit" "pp_a" "pp_b" "pp_c" "pp_d" "pp_e" "pp_ft";
  grid-column-gap: 1rem;
  grid-row-gap: 1rem; }
  .portfolio-preview .container .title {
    grid-area: pp_tit; }
  .portfolio-preview .container .more {
    grid-area: pp_ft; }
  .portfolio-preview .container .thumbnail {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; }
    .portfolio-preview .container .thumbnail[data-number="1"] {
      grid-area: pp_a; }
    .portfolio-preview .container .thumbnail[data-number="2"] {
      grid-area: pp_b; }
    .portfolio-preview .container .thumbnail[data-number="3"] {
      grid-area: pp_c; }
    .portfolio-preview .container .thumbnail[data-number="4"] {
      grid-area: pp_d; }
    .portfolio-preview .container .thumbnail[data-number="5"] {
      grid-area: pp_e; }
  @media (min-width: 576px) {
    .portfolio-preview .container {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 100px 200px 200px 200px 100px;
      grid-template-areas: "pp_tit pp_tit" "pp_b pp_c" "pp_a pp_a" "pp_d pp_e" "pp_ft pp_ft"; } }
  @media (min-width: 768px) {
    .portfolio-preview .container {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: "pp_tit pp_tit pp_tit" "pp_a pp_a pp_c" "pp_a pp_a pp_d" "pp_e pp_b pp_b" "pp_ft pp_ft pp_ft"; } }
  @media (min-width: 992px) {
    .portfolio-preview .container {
      grid-template-columns: 1fr 1fr 2fr;
      grid-template-areas: "pp_tit pp_tit pp_tit" "pp_a pp_a pp_b" "pp_a pp_a pp_c" "pp_d pp_e pp_c" "pp_ft pp_ft pp_ft"; } }

.portfolio-preview-thumbnail {
  background-size: cover;
  background-position: center center;
  cursor: pointer;
  border-radius: 1px;
  overflow: hidden; }
  .portfolio-preview-thumbnail:hover .mask {
    transform: scale(1.03, 1.03);
    filter: none; }
  .portfolio-preview-thumbnail .mask {
    background-size: cover;
    background-position: center center;
    transition: all 300ms;
    filter: grayscale(0.2); }
    @media (min-width: 992px) {
      .portfolio-preview-thumbnail .mask {
        filter: grayscale(0.4) blur(1.2px); } }

.page-portfolio-preview {
  margin-bottom: 2rem; }
  .page-portfolio-preview .container {
    display: grid;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "pp_tit" "pp_content"; }
    .page-portfolio-preview .container .title {
      grid-area: pp_tit; }
    .page-portfolio-preview .container .thumbnails {
      grid-area: pp_content;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-template-rows: 300px;
      grid-row-gap: 20px;
      justify-content: space-between; }
      .page-portfolio-preview .container .thumbnails .thumbnail {
        width: 100%;
        height: 300px; }
        .page-portfolio-preview .container .thumbnails .thumbnail .mask {
          height: 100%; }
      @media (min-width: 576px) {
        .page-portfolio-preview .container .thumbnails {
          grid-template-columns: repeat(auto-fill, 260px);
          grid-template-rows: 200px; }
          .page-portfolio-preview .container .thumbnails .thumbnail {
            height: 200px; } }
      @media (min-width: 768px) {
        .page-portfolio-preview .container .thumbnails {
          grid-template-columns: repeat(auto-fill, 350px);
          grid-template-rows: 250px; }
          .page-portfolio-preview .container .thumbnails .thumbnail {
            height: 250px; } }
      @media (min-width: 992px) {
        .page-portfolio-preview .container .thumbnails {
          grid-template-columns: repeat(auto-fill, 306px);
          grid-template-rows: 230px; }
          .page-portfolio-preview .container .thumbnails .thumbnail {
            height: 230px; } }
      @media (min-width: 1200px) {
        .page-portfolio-preview .container .thumbnails {
          grid-template-columns: repeat(auto-fill, 366px);
          grid-template-rows: 260px; }
          .page-portfolio-preview .container .thumbnails .thumbnail {
            height: 260px; } }

.button {
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #279f78;
  background-color: rgba(244, 244, 244, 0.7);
  font-size: 1rem;
  padding: 0.5rem;
  margin: 0.2rem;
  cursor: pointer;
  color: #3a494c;
  transition: all 150ms; }
  .button.active {
    background-color: rgba(39, 159, 120, 0.51);
    color: #3a494c; }
  .button:hover {
    background-color: rgba(39, 159, 120, 0.51); }

.services-preview .container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px auto 100px;
  grid-template-areas: "sp_tit" "sp_blocks" "sp_ft";
  grid-column-gap: 2rem;
  grid-row-gap: 2rem; }
  .services-preview .container .title {
    grid-area: sp_tit; }
  .services-preview .container .more {
    grid-area: sp_ft; }
  .services-preview .container .blocks {
    grid-area: sp_blocks;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-content: space-between; }
    @media (min-width: 576px) {
      .services-preview .container .blocks {
        grid-template-columns: repeat(auto-fill, 260px);
        grid-template-rows: auto; } }
    @media (min-width: 768px) {
      .services-preview .container .blocks {
        grid-template-columns: repeat(auto-fill, 350px);
        grid-template-rows: auto; } }
    @media (min-width: 992px) {
      .services-preview .container .blocks {
        grid-template-columns: repeat(auto-fill, 306px);
        grid-template-rows: auto; } }
    @media (min-width: 1200px) {
      .services-preview .container .blocks {
        grid-template-columns: repeat(auto-fill, 366px);
        grid-template-rows: auto; } }
  .services-preview .container .block .content h5 {
    text-align: center;
    margin-bottom: 1rem; }
  .services-preview .container .block .content p {
    text-align: justify; }
  @media (min-width: 768px) {
    .services-preview .container {
      grid-template-columns: 1fr;
      grid-template-rows: 100px auto 100px;
      grid-template-areas: "sp_tit" "sp_blocks" "sp_ft"; } }
  @media (min-width: 992px) {
    .services-preview .container {
      grid-template-columns: 1fr;
      grid-template-rows: 100px auto 100px;
      grid-template-areas: "sp_tit" "sp_blocks" "sp_ft"; } }

.services-preview-thumbnail {
  font-size: 7rem;
  text-align: center;
  color: #279f78;
  margin-bottom: 1rem; }
  .services-preview-thumbnail .half-size {
    font-size: 4.6666666667rem;
    margin-left: 1rem; }
  .services-preview-thumbnail.on-page {
    text-align: left; }

.about-preview .container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px auto auto 100px;
  grid-template-areas: "ap_tit" "ap_a" "ap_b" "ap_ft";
  grid-column-gap: 2rem;
  grid-row-gap: 2rem; }
  @media (min-width: 768px) {
    .about-preview .container {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 100px auto 100px;
      grid-template-areas: "ap_tit ap_tit" "ap_a ap_b" "ap_ft ap_ft"; } }
.about-preview .title {
  grid-area: ap_tit; }
.about-preview .more {
  grid-area: ap_ft; }
.about-preview .thumbnail {
  grid-area: ap_a; }
  .about-preview .thumbnail img {
    width: 100%;
    height: auto; }
.about-preview .content {
  grid-area: ap_b; }
  .about-preview .content h5 {
    margin-bottom: 1rem; }

.testimonials-pseudo-styles p, .page-content .content-block.testimonial-block p, .testimonials-preview .content .testimonial-preview p {
  text-align: justify; }
  .testimonials-pseudo-styles p:before, .page-content .content-block.testimonial-block p:before, .testimonials-preview .content .testimonial-preview p:before {
    content: '"'; }
  .testimonials-pseudo-styles p:after, .page-content .content-block.testimonial-block p:after, .testimonials-preview .content .testimonial-preview p:after {
    content: '"'; }
.testimonials-pseudo-styles h6, .page-content .content-block.testimonial-block h6, .testimonials-preview .content .testimonial-preview h6 {
  text-align: right; }
  .testimonials-pseudo-styles h6:before, .page-content .content-block.testimonial-block h6:before, .testimonials-preview .content .testimonial-preview h6:before {
    content: "- "; }

.testimonials-preview {
  position: relative; }
  .testimonials-preview .background {
    background-position: center center;
    background-size: cover;
    filter: blur(4px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .testimonials-preview .container {
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 250px 100px;
    grid-template-areas: "tp_tit" "tp_a" "tp_ft";
    grid-column-gap: 2rem;
    grid-row-gap: 2rem; }
    @media (min-width: 576px) {
      .testimonials-preview .container {
        grid-template-rows: 100px 170px 100px; } }
    @media (min-width: 768px) {
      .testimonials-preview .container {
        grid-template-rows: 100px 350px 100px; } }
  .testimonials-preview .title {
    grid-area: tp_tit;
    text-align: center; }
  .testimonials-preview .more {
    grid-area: tp_ft; }
  .testimonials-preview .content {
    grid-area: tp_a;
    display: flex;
    justify-content: center;
    align-items: center; }
    .testimonials-preview .content .testimonial-preview {
      display: none; }
      .testimonials-preview .content .testimonial-preview p {
        font-size: 1.2rem; }
        @media (min-width: 768px) {
          .testimonials-preview .content .testimonial-preview p {
            font-size: 2.16rem; } }
      .testimonials-preview .content .testimonial-preview h6 {
        font-size: 0.96rem;
        margin-top: 1.2rem; }
        @media (min-width: 768px) {
          .testimonials-preview .content .testimonial-preview h6 {
            margin-top: 2.16rem;
            font-size: 1.44rem; } }
    .testimonials-preview .content .testimonial-preview.active {
      display: block; }

form {
  width: 100%; }
  form input, form textarea, form button {
    box-sizing: border-box;
    display: block;
    background-color: transparent;
    border: 1px rgba(58, 73, 76, 0.51) solid;
    border-radius: 3px;
    width: 100%;
    transition: all 300ms; }
  form textarea {
    resize: vertical; }
  form button {
    cursor: pointer;
    border-width: 1px;
    border-style: solid; }
  form input.invalid, form textarea.invalid {
    box-shadow: 0 0 2px 1px red inset; }
  form label.invalid-feedback {
    opacity: 0;
    color: red;
    transition: all 300ms;
    font-size: 0.84rem; }
    form label.invalid-feedback.active {
      opacity: 1; }

.contact-preview {
  margin: 1rem 0 2rem; }
  .contact-preview .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "cp_tit" "cp_a" "cp_b" "cp_c";
    grid-column-gap: 2rem;
    grid-row-gap: 2rem; }
    .contact-preview .container .section-title {
      grid-area: cp_tit; }
    .contact-preview .container .section-caption {
      grid-area: cp_a; }
    .contact-preview .container .contacts {
      grid-area: cp_b; }
      .contact-preview .container .contacts .contact-line {
        font-size: 1.2rem;
        margin-top: 1rem; }
        .contact-preview .container .contacts .contact-line .icon {
          font-size: 2.4rem;
          width: 4.8rem;
          color: #279f78; }
        .contact-preview .container .contacts .contact-line a.icon:hover {
          text-shadow: 0 0 2px rgba(58, 73, 76, 0.51); }
        .contact-preview .container .contacts .contact-line .line {
          color: #3a494c; }
    @media (min-width: 576px) {
      .contact-preview .container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: "cp_tit cp_tit" "cp_a cp_a" "cp_b cp_c"; } }
    .contact-preview .container .form {
      grid-area: cp_c; }
      .contact-preview .container .form input, .contact-preview .container .form textarea, .contact-preview .container .form button {
        margin-bottom: 0.5rem;
        padding: 0.5rem 1rem; }
      .contact-preview .container .form input {
        height: 3rem; }
      .contact-preview .container .form textarea {
        height: 8rem; }
      .contact-preview .container .form button {
        border-color: #279f78;
        background-color: rgba(39, 159, 120, 0.51);
        color: #3a494c;
        margin-top: 1.5rem; }
        .contact-preview .container .form button:hover {
          background-color: #279f78; }

.section-caption {
  text-align: justify; }
  @media (min-width: 992px) {
    .section-caption p {
      padding: 0 3rem; } }

.contact-line {
  width: 100%;
  font-size: 1.2rem;
  text-decoration: none;
  display: flex;
  align-items: center; }
  .contact-line .icon {
    text-align: center; }

footer {
  background-color: #279f78; }
  footer a {
    color: #3a494c; }
    footer a:hover {
      color: #f4f4f4; }

.footer-menu-list {
  display: none;
  padding: 2rem 0 0; }
  .footer-menu-list ul {
    display: flex;
    justify-content: center; }
    .footer-menu-list ul li a {
      padding: 0 0.5rem;
      text-decoration: none;
      font-size: 0.96rem; }
  @media (min-width: 992px) {
    .footer-menu-list {
      display: block; } }

.developer-line {
  display: flex;
  justify-content: center;
  margin: 1rem 0; }
  .developer-line span {
    display: inline-block; }
  .developer-line span, .developer-line a {
    font-size: 0.96rem; }
  .developer-line p {
    text-align: center; }

.big-footer {
  padding: 2rem 0 0; }
  .big-footer .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "bf_tit" "bf_d" "bf_b" "bf_c" "bf_f"; }
    @media (min-width: 576px) {
      .big-footer .container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: "bf_tit bf_tit" "bf_d bf_d" "bf_b bf_c" "bf_f bf_f"; } }
    @media (min-width: 992px) {
      .big-footer .container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas: "bf_tit bf_tit" "bf_d bf_d" "bf_b bf_c" "bf_a bf_a" "bf_f bf_f"; } }
  .big-footer .section-title {
    grid-area: bf_tit;
    color: #3a494c;
    margin-bottom: 1rem; }
  .big-footer .section-caption {
    grid-area: bf_d; }
  .big-footer .footer-menu-list {
    grid-area: bf_a; }
  .big-footer .footer-contacts {
    grid-area: bf_b; }
    .big-footer .footer-contacts .contact-line {
      margin-top: 1rem;
      font-size: 1.2rem; }
    .big-footer .footer-contacts .icon {
      font-size: 1.2rem;
      width: 2.4rem;
      color: #3a494c; }
    .big-footer .footer-contacts a.icon:hover {
      color: #f4f4f4;
      text-shadow: 0 0 2px rgba(58, 73, 76, 0.51); }
    .big-footer .footer-contacts .line {
      color: #3a494c;
      font-size: 0.96rem; }
  .big-footer .footer-form {
    grid-area: bf_c; }
    .big-footer .footer-form input, .big-footer .footer-form textarea, .big-footer .footer-form button {
      margin-bottom: 0.1rem;
      padding: 0.5rem 1rem;
      background-color: rgba(244, 244, 244, 0.7); }
    .big-footer .footer-form button {
      margin-top: 1.1rem;
      color: #3a494c; }
      .big-footer .footer-form button:hover {
        background-color: #3a494c;
        color: #f4f4f4; }
  .big-footer .developer-line {
    grid-area: bf_f; }

.scrollButton {
  display: none;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  height: 2rem;
  width: 2rem;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 150ms;
  border-radius: 2px;
  border: 1px solid rgba(39, 159, 120, 0.51);
  background-color: rgba(244, 244, 244, 0.7);
  color: #279f78; }
  .scrollButton.active {
    display: flex; }
    .scrollButton.active:hover {
      background-color: #279f78;
      color: rgba(244, 244, 244, 0.7); }
  .scrollButton.animated {
    animation-duration: 195ms; }

.page-404-content {
  text-align: center;
  margin: 2.4rem 0; }
  .page-404-content img.img404 {
    width: 100%;
    height: auto; }
    @media (min-width: 768px) {
      .page-404-content img.img404 {
        width: 80%; } }
  .page-404-content .content {
    margin: 0 0 2.4rem; }
    .page-404-content .content h1 {
      margin-bottom: 2.4rem;
      font-size: 2.4rem; }
    .page-404-content .content p {
      text-align: justify;
      margin: 0; }
      @media (min-width: 768px) {
        .page-404-content .content p {
          margin: 0 10%; } }

.game-frame iframe {
  height: 650px;
  width: 850px; }
  @media (max-width: 575.98px) {
    .game-frame iframe {
      width: 100%; } }
@media (min-width: 768px) and (max-width: 991.98px) {
  .game-frame .iframe-wrapper {
    transform: scale(0.8); } }
@media (min-width: 576px) and (max-width: 767.98px) {
  .game-frame .iframe-wrapper {
    transform: scale(0.6); } }

.modal {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  overflow-y: auto;
  overflow-x: hidden; }
  .modal .modal-body-container {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 35px; }
  .modal .btn {
    position: fixed;
    height: 60vh;
    top: 20vh;
    font-size: 3rem;
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
    justify-content: center;
    overflow: hidden; }
    @media (min-width: 576px) {
      .modal .btn {
        font-size: 5rem; } }
    @media (min-width: 768px) {
      .modal .btn {
        font-size: 6rem; } }
    .modal .btn .angle {
      color: rgba(255, 255, 255, 0.41);
      transition: color 195ms; }
    .modal .btn:hover .angle {
      color: white; }
  .modal .btn-back {
    left: 0; }
    .modal .btn-back .angle {
      margin-right: 1rem; }
      @media (min-width: 576px) {
        .modal .btn-back .angle {
          margin-right: 1rem; } }
      @media (min-width: 768px) {
        .modal .btn-back .angle {
          margin-right: 4rem; } }
      @media (min-width: 992px) {
        .modal .btn-back .angle {
          margin-right: 3rem; } }
      @media (min-width: 1200px) {
        .modal .btn-back .angle {
          margin-right: 5rem; } }
  .modal .btn-forward {
    right: 0; }
    .modal .btn-forward .angle {
      margin-left: 1rem;
      transform: rotate(180deg); }
      @media (min-width: 576px) {
        .modal .btn-forward .angle {
          margin-left: 1rem; } }
      @media (min-width: 768px) {
        .modal .btn-forward .angle {
          margin-left: 4rem; } }
      @media (min-width: 992px) {
        .modal .btn-forward .angle {
          margin-left: 3rem; } }
      @media (min-width: 1200px) {
        .modal .btn-forward .angle {
          margin-left: 5rem; } }
  .modal .modal-body {
    display: none;
    position: relative;
    background-color: #f4f4f4; }
    .modal .modal-body img {
      width: 100%;
      height: auto;
      background-color: #f4f4f4; }
    .modal .modal-body .modal-content {
      padding: 1.5rem; }
      .modal .modal-body .modal-content h6 {
        margin-bottom: 0.5rem;
        font-size: 0.9rem; }
      .modal .modal-body .modal-content .title-link {
        text-decoration: none; }
      .modal .modal-body .modal-content h4 {
        margin-bottom: 2rem; }
      .modal .modal-body .modal-content h5 {
        margin-bottom: 1rem; }
      .modal .modal-body .modal-content p {
        margin-bottom: 1.5rem; }
      .modal .modal-body .modal-content .modal-footer {
        display: flex;
        border-top: 1px solid rgba(58, 73, 76, 0.51);
        justify-content: space-between;
        margin-top: 1rem;
        padding-top: 1rem; }
    .modal .modal-body.active {
      display: block; }
    .modal .modal-body .close {
      cursor: pointer;
      width: 50px;
      height: 50px;
      position: absolute;
      top: 0;
      right: 0;
      background-color: rgba(58, 73, 76, 0.51);
      transition: all 195ms; }
      .modal .modal-body .close .cl {
        width: 30px;
        height: 2px;
        left: 10px;
        background-color: white;
        position: absolute;
        transition: all 150ms; }
      .modal .modal-body .close .cl-topper {
        top: 24px;
        transform: rotate(320deg); }
      .modal .modal-body .close .cl-footer {
        top: 24px;
        transform: rotate(-320deg); }
      .modal .modal-body .close:hover {
        background-color: rgba(39, 159, 120, 0.51); }
        .modal .modal-body .close:hover .cl-topper {
          top: 24px;
          transform: rotate(140deg); }
        .modal .modal-body .close:hover .cl-footer {
          top: 24px;
          transform: rotate(-140deg); }
  .modal.active {
    display: flex; }

#modalPhotoViewer.centered {
  align-items: center; }
#modalPhotoViewer .modal-body {
  background-color: transparent; }

.modal-body.animated, .modal.animated {
  animation-duration: 195ms; }

/*# sourceMappingURL=styles.css.map */
