$icomoon-font-path: "fonts" !default;

$icm-times: \78;
$icm-facebook-f: \66;
$icm-search-plus: \2b;
$icm-folder-open: \2a;
$icm-envelope-open: \4d;
$icm-houzz: \68;
$icm-yelp: \79;
$icm-google: \47;
$icm-instagram: \69;
$icm-envelope: \40;
$icm-phone: \74;
$icm-plum: \6f;

